SERVER_ADDRESS=:8080
SERVER_READ_TIMEOUT=15s
SERVER_WRITE_TIMEOUT=15s
SERVER_IDLE_TIMEOUT=120s
SERVER_SHUTDOWN_TIMEOUT=30s

DB_DRIVER=postgres
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=admin
DB_NAME=room_booking
DB_URL=postgres://postgres:admin@postgres:5432/room_booking?sslmode=disable

JWT_SECRET_KEY=ekerjvjhmzleptktysqpkfznfzwtgmff
TOKEN_TTL=24h
